body {
    background-image: url("../resources/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 10px grey;
}

h2 {
    color: #9DA4B2;
}

.coin-wrap {
    position: relative;
}

#coin {
    height: 200px;
    padding: 30px 0;
    height: 200px;
    display: block;
    justify-content: center;
}

.coin-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 80%;
    height: 12px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    filter: blur(6px);
    transform: translateX(-50%);
}

p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 70px;
}

button {
    background-color: #257FC4;
    color: white;
    text-transform: uppercase;
    padding: 15px 50px;
    margin-bottom: 200px;
    border-radius: 10px;
    border: 0px 0px 10px 0px;
    border-color: #0e4f81;
}

a {
    color: black;
}

/* ---- Animation ---- */

/* Etape 1 : créer une animation avec @keyframes */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* Etape 2 : créer une classe pour utiliser l'animation */
.spin {
    animation: spin 0.6s ease-in-out;

    /* spin = le nom de keyframes + la durée de l'animation + faire un mouvement fluide*/
}

/* Etape 3 : permet de garder un effet 3D et de respecter la profondeur */
#coin {
    transform-style: preserve-3d;
}

